/* General */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PopLight;
    src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: PopRegular;
    src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Abril;
    src: url(./fonts/AbrilFatface-Regular.ttf);
}

body {
    font-family: PopLight;
    font-weight: 100;
}

.portfolio {
    color: white;
    background: radial-gradient(#4B4B4B, #0B1023);
}

.page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
    overflow: hidden;
    height: 500px;
    align-self: center;
    justify-self: center;
    display: flex;
}

.hero img {
    height: 500px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.photo-right {
    transform: translate(0%, 7%);
}

.photo-left {
    transform: translate(0%, -7%);
}

.hero:hover .photo-right {
    transform: translate(0%, 0%);
}

.hero:hover .photo-left {
    transform: translate(0%, 0%);
}

.details {
    grid-column: 2/3;
    align-self: end;
}

.details h1, .details-txt h1 {
    font-size: 54px;
    font-family: Abril;
    font-weight: 100;
}

.details h2 {
    font-size: 42px;
    padding: 0px 0px 140px;
}

.details p {
    font-size: 24px;
    padding: 20px 0px 50px 0px;
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.page-1 {
    display: flex;
}

.pages > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pages h4 {
    font-size: 24px;
    padding: 30px;
    justify-self: flex-end;
}

.pages svg {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.5);
}

.pages svg:hover {
    animation: dot 0.5s ease-in-out infinite alternate;
}

.pages svg.active {
    opacity: 1;
}

@keyframes dot {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(2.5);
    }
}


/* Projects page */

.details-projects {
    border: 2px solid white;
    padding: 1em;
    grid-column: 2/3;
    align-self: center;
    margin-top: 2em;
}

.p-skills {
    text-align: center;
    font-size: 18px;
    padding-top: 1em;
}

.p-skills-tactile {
    display: none;
}

.skills {
    list-style: none;
    display: flex;
    padding-top: 2em;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-skill {
    height: 70px;
}

.skill-name {
    padding: 5px;
}

.hero-projects {
    align-self: center;
    justify-self: center;
    margin-left: 10em;
}

.project-ico {
    width: 200px;
    height: 200px;
    margin: 5px;
}

.project-ico-lg {
    width: 415px;
    margin: 5px;
}

/* Training & Contact pages */


.details-txt {
    grid-column: 2/3;
    align-self: center;
}
.details-txt h3 {
    font-size: 36px;
    padding: 20px 0px;
}

.p-content {
    font-size: 18px;
    margin-bottom: 1em;
}

.hero-projects {
    align-self: center;
    justify-self: center;
    margin-left: 10em;
}

.rest {
    margin-left: 20em;
}

.contact-list {
    list-style: none;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.contact-icon {
    width: 25px;
    margin-right: 1em;
}

/* photo.hmtl */

.banner {
    height: 75vh;
    width: 100%;
    position: relative;
}

.banner img {
    height: 100%;
    width: 100%;
}

.title {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    text-align: center;
    padding: 1em;
}

.title h1, .title h2 {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.title h1 {
    font-size: 54px;
    font-family: Abril;
    font-weight: 100;
}

.title h2 {
    font-size: 40px;
    font-weight: 100;
}

.project {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 80px 0px;
}

.project-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-description h3 {
    font-size: 36px;
}

.project-description p {
    padding: 20px 0px;
    font-size: 25px;
}

.projects-skills {
    list-style-type: '-';
    padding: 20px 0px;
    margin-bottom: 1em;
}

.projects-skills li {
    font-size: 25px;
}

.project-img {
    display: flex;
}

.project-img img {
    width: 350px;
    margin: 0 0.5em;
}

.project-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.btn {
    width: 80%;
    font-family: PopLight;
    font-size: 36px;
    padding: .5em;
    margin: .5em auto;
    background-color: white;
    border: 2px solid black;
}

.btn:hover {
    cursor: pointer;
}

@media (max-width: 1024px){

    .page {
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 2fr 1fr;
        align-items: center;
    }

    .hero {
        grid-column: 2/3;
        height: auto;
    }

    .hero img {
        height: 500px;
    }

    .details {
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
    }

    .details h1 {
        font-size: 48px;
    }

    .details h2 {
        font-size: 38px;
    }

    .details-project {
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
    }
}

@media (max-width: 414px){

    .pages {
        display: none;
    }

    .portfolio {
        padding: .8em;
    }

    .page {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .details {
        align-self: top;
        margin: 2em auto 0;
    }

    .hero {
        padding: 0;
    }
    
    h1, h2, h3 {
        text-align: center;
    }
    
    .details h1 {
        font-size: 30px;
    }

    .details h2 {
        font-size: 24px;
        padding-bottom: 40px;
    }

    .details h1, .details-txt h1 {
        font-size: 38px;
    }

    .details-txt h1 {
        font-size: 30px;
    }

    .details-txt h2 {
        font-size: 24px;
    }

    .details-txt h3 {
        font-size: 20px;
    }

    .rest {
        margin-left: 0em;
    }

    .hero img {
        height: 300px;
        max-width: 150px;
    }

    .p-skills {
        display: none;
    }

    .p-skills-tactile {
        display: block;
    }

    .hero-projects {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        margin: 1em 0em;
    }
    
    .project-ico {
        width: 300px;
        height: 300px;
    }
    
    .project-ico-lg {
        width: 300px;
    }

    .details-txt {
        grid-column: 1/2;
        align-self: center;
    }

}
