*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PopLight;
    src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: PopRegular;
    src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Abril;
    src: url(./fonts/AbrilFatface-Regular.ttf);
}

body {
    font-family: PopLight;
}

.portfolio {
    color: white;
    background: radial-gradient(#4B4B4B, #0B1023);
}