@font-face {
    font-family: PopLight;
    src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: PopRegular;
    src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Abril;
    src: url(./fonts/AbrilFatface-Regular.ttf);
}