/* Projects page */

.page-projects {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 15%;
}

.details-projects {
    border: 2px solid white;
    padding: .9em;
    grid-column: 2/3;
    align-self: center;
    margin-top: 2em;
}

.p-skills {
    text-align: center;
    font-size: 18px;
    padding-top: 1em;
}

.p-skills-tactile {
    display: none;
}

.skills {
    /*
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding-top: 2em;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skill-lg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo-skill {
    height: 70px;
}

.logo-skill-lg {
    width: 70px;
    align-self: center;
}

.skill-name {
    padding: 5px;
}

.hero-projects {
    align-self: center;
    justify-self: center;
    margin-left: 10em;
}

.project-ico {
    width: 200px;
    height: 200px;
    margin: 5px;
    filter: grayscale(1);
    transition: .6s;
}

.project-ico-lg {
    width: 415px;
    margin: 5px;
    filter: grayscale(1);
    transition: .6s;
}

.project-ico:hover, .project-ico-lg:hover {
    filter: none;
    transform: scale(1.1);
    transition: .6s;
}
